:root {
    --color-primary: #BD970F;
    
    --color-secondary: rgb(5, 29, 65); 
    
    
    --color-grey-light-1: #f9f7f6;
    --color-grey-light-2: #aaa;
    
    --color-grey-dark-1: #54483a;
    --color-grey-dark-2: #6d5d4b;

    
    
    .heading-1 { 
      font-size: 5rem;
      font-weight: 300;
      margin: 0;
      color: white;

    }
    .heading-2 {color: white}
    .heading-3 {
      color: white;
      font-weight: 300;
      margin: 0;
      font-size: 1.5rem;
      
    }
    .heading-4 {color: white}
    .heading-5 {color: white}
  }